<ul>
    <li>
        Sed ut perspiciatis unde omnis.
    </li>
    <li>
        Nemo enim ipsam voluptatem quia.
    </li>
    <li>
        Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
    </li>
    <li>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </li>
</ul>
<ul>
    <li>Unordered List item one
        <ul>
            <li>Nested list item
                <ul>
                    <li>Level 3, item one</li>
                    <li>Level 3, item two</li>
                    <li>Level 3, item three</li>
                    <li>Level 3, item four</li>
                </ul>
            </li>
            <li>List item two</li>
            <li>List item three</li>
            <li>List item four</li>
        </ul>
    </li>
    <li>List item two</li>
    <li>List item three</li>
    <li>List item four</li>
</ul>
<ol>
    <li>List item one
        <ol>
            <li>List item one
                <ol>
                    <li>List item one</li>
                    <li>List item two</li>
                    <li>List item three</li>
                    <li>List item four</li>
                </ol>
            </li>
            <li>List item two</li>
            <li>List item three</li>
            <li>List item four</li>
        </ol>
    </li>
    <li>List item two</li>
    <li>List item three</li>
    <li>List item four</li>
</ol>
<dl>
    <dt>Transfer rate:</dt>
    <dd>452KB/s</dd>
    <dt>Duration:</dt>
    <dd>01:16:27</dd>
    <dt>Color profile:</dt>
    <dd>SD (6-1-6)</dd>
    <dt>Dimensions:</dt>
    <dd>320×240</dd>
</dl>