<a href="#" class="action">Button Primary</a>
<a href="#" class="action -date">Button Primary - Date</a>
<a href="#" class="action -option">Button Primary - Option</a>
<a href="#" class="action -remove">Button Primary - Remove</a>
<a href="#" class="action -external">Button Primary - External</a>
<a href="#" class="action -processing">Button Primary</a>
<a href="#" class="action" disabled>Button Disabled</a>

<a href="#" class="cancel">Button Secondary</a>
<a href="#" class="cancel -date">Button Secondary - Date</a>
<a href="#" class="cancel -option">Button Secondary - Option</a>
<a href="#" class="cancel -remove">Button Secondary - Remove</a>
<a href="#" class="cancel -external">Button Secondary - External</a>
<a href="#" class="cancel -processing">Button Secondary</a>
<a href="#" class="cancel" disabled>Button Secondary Disabled</a>