table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2rem;
    width: 100%;
    td,
    th {
        padding: 0.7rem 1.5rem;
        text-align: left;
    }
    td {
        border: 0;
    }
}