.cms-dashboard { 
    padding: 4rem;
    column-count: 1;
    column-gap: 3.1em;
    max-width: 1600px;

    .cms-widget {
        margin-bottom: 3.1rem;
    }

    & > * {
        break-inside: avoid;
        display: block;
    }
  
    @include breakpoint(lg) {
        column-count: 2;
    }
}