.cms-admin {
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 0;
    display: none;
    position: relative;
    z-index: 4;

    .title,
    h1, h2, h3, h4, h5,
    p, ul, li, a, input {
        font-family: 'Poppins', sans-serif !important;
    }
  
    @include breakpoint(lg) {
        display: block;
    }
}