.select > span {
    border: 1.5px solid $border;
    display: inline-block;
    width: 100%;
    position: relative;
    & + .error p::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-exclamation-circle);
      color: $error;
      margin-right: .5rem;
    }
 }

.select > span::before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-caret-down);
    position: absolute;
    top: .8rem;
    right: 1.3rem;
    color: $color-action;
    pointer-events: none;
    z-index: 2;
}

.select select {
    width: 100%;
    border: none;
    padding: 0.4rem 0.6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.select select::-ms-expand {
    display: none;
}


.select-wrapper {
    margin: auto;
    max-width: 600px;
    width: calc(100% - 40px);
}


.ss-main .ss-multi-selected .ss-add {
    opacity: 0;
}

.ss-main .ss-multi-selected,
.ss-main .ss-single-selected {
  border: none !important;
}

.ss-main .ss-multi-selected .ss-values .ss-disabled,
.ss-main .ss-single-selected {
  padding: 10px 5px !important;
}

.ss-main .ss-single-selected {
  height: 41px !important;
}

.ss-main {
  min-height: 41px;
}

.select-wrapper {
  margin: auto;
  max-width: 600px;
  width: calc(100% - 40px);
}

.ss-main .ss-multi-selected .ss-values .ss-value {
  background-color: $color-action !important;
}

.ss-arrow {
  display: none !important;
}
