<section>
    <div class="container">
        <header>
            <h3>Sections</h3>
            <p>Elements <code>article</code>, <code>aside</code>, <code>nav</code>,
                <code>section</code> make up the <em>sectioning content</em> category.
            </p>
        </header>
        <article>
            <p>This paragraph is nested inside an <code>article</code> element. It contains many different,
                sometimes useful, <a href="http://www.w3schools.com/tags/">HTML5 elements</a>. Of course there are
                classics like <em>emphasis</em>, <strong>strong</strong>,
                and <small>small</small> but there are many others as well. Hover the following text for
                abbreviation element: <abbr title="abbreviation">abbr</abbr>. You can define <del>deleted text</del>
                which often gets replaced with <ins>inserted</ins> text.</p>
            <p>You can also use <kbd>keyboard text</kbd>, which sometimes is styled similarly to the
                <code>&lt;code&gt;</code> or <samp>samp</samp> elements. Even more specifically, there is an element
                just for <var>variables</var>. Not to be mistaken with block
                quotes below, the quote element lets you denote something as <q>quoted text</q>. Lastly don't forget
                the sub (H<sub>2</sub>O) and sup (E = MC<sup>2</sup>) elements.</p>
            <section>
                <p>This paragraph is contained in a <code>section</code> element of its parent <code>article</code>
                    element.</p>
                <p>↓ The following paragraph has the <code>hidden</code> attribute and should not be displayed. ↓
                </p>
                <p hidden>→ You should not see this paragraph. ←</p>
                <p>↑ The previous paragraph should not be displayed. ↑</p>
            </section>
        </article>
        <aside>
            <p>This is contained in an <code>aside</code> element.</p>
        </aside>
        <footer>
            <p>See the <a target="_blank" href="https://www.w3.org/TR/html5/dom.html#sectioning-content">Sectioning
                    Content spec.</a></p>
        </footer>
    </div>
</section>