.cms-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;

    .select.-limit {
        margin-left: auto;
        margin-right: 0;
    }
}