.cms-repeated {
    .cms-hidden {
        display: none;
    }
    .cms-remove {
        margin-top: -1.1rem;
        display: block;
    }
    .cms-add {
        font-size: 1rem;
        margin-left: 1rem;
    }
}