@mixin tilesThree($gutter: 30px) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(-1 * (#{$gutter} / 2));
  margin-right: calc(-1 * (#{$gutter} / 2));

  & > * {
    width: 100%;
    margin-left: calc(#{$gutter} / 2);
    margin-right: calc(#{$gutter} / 2);
  }

  @include breakpoint(md) {
    & > * {
      width: calc(50% - #{$gutter});
    }
  }

  @include breakpoint(lg) {
    & > * {
      width: calc(33.3333% - #{$gutter});
    }
  }
}
