<figure>
    <img src="https://www.fillmurray.com/402/295">
    <figcaption>Figure 1: A picture of Bill Murray from <a
            href="https://www.fillmurray.com/">fillmurray.com</a>
    </figcaption>
</figure>