.image {
    display: block;
    margin-bottom: 4rem;

    &.-center {
        text-align: center;
    }

    &.-right {
        text-align: right;
    }

    &.-left {
        text-align: left;
    }

    img {
        display: inline;
    }
}