.cms-recordremove {
    background: none;
    border: none;
    font-size: 0;
    padding: 0;
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-trash-alt);
        color: $gray;
        font-size: .875rem;
    }
}